/*@import url('https://fonts.googleapis.com/css2?family=Petrona:ital,wght@0,100..900;1,100..900&display=swap');*/
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: gray;
}
.box {
    height: 400px;
    width: 400px;
}
.Login {
    background-color: white;
    height: 500px;
    width: 400px;
    text-align: center;
    margin: 20px;
}
.Login button {
    background-color:purple;
	height:30px;
}
.SignUp {
    background-color: white;
    height: 500px;
    width: 400px;
    text-align: center;
    margin: 20px;
}
.SignUp button {
    background-color:purple;
	height:30px;
}
a {
    text-decoration: none;
}
.Box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
input {
    height: 30px;
    width: 300px;
}
Button {
    color: white;
    width: 300px;
}
span{
	color:blue;
}